$main: #2891cc;
$sp: #e57709;
$cltext: #676767;
@media (min-width: 991px) {
	.shine-effect {
		overflow: hidden;
	}
	.shine-effect:after {
		content: "";
		pointer-events: none;
		position: absolute;
		top: -50%;
		left: -60%;
		width: 20%;
		height: 200%;
		opacity: 0;
		transform: rotate(30deg);
		background: rgba(255, 255, 255, 0.13);
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.13) 0%,
			rgba(255, 255, 255, 0.13) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0.0) 100%
			);
	}
	.shine-effect:hover:after {
		opacity: 1;
		left: 130%;
		transition-property: left, top, opacity;
		transition-duration: 0.7s, 0.7s, 0.25s;
		transition-timing-function: ease;
	}
}

@media (max-width: 1400px) {
	.btn-sp-menu{
		right: -80px;
	}
	.fs-30-cv{
		font-size: 26px !important;
	}
	.fs-36-cv{
		font-size: 30px !important;
	}
}
@media (min-width: 1400px) {
	.container{
		max-width: 1170px;
	}
}
@media (min-width: 1200px) {
	.col-xl-28{
		width: 28%;
	}
	.col-xl-72{
		width: 72%;
	}
}
@media (max-width: 1400px) {
	.all-title{
		font-size: 28px;
		padding-bottom: 10px;
	}
	.btn-all{
		padding: 6px 12px;
	}
	.module-medical-examination{
		padding: 15px;
		margin-top: -25px;
	}
	.banner-home{
		.slider-pagination{
			bottom: 35px;
		}
	}
	.flash-notification{
		a{
			padding: 8px 0px;
		}
	}
}
@media (max-width: 1200px) {
	.header-top{
		padding: 10px 0px;
		.logo{
			width: 150px;
		}
	}
	.fs-22-cv{
		font-size: 20px !important;
	}
	.all-title{
		font-size: 26px;
	}
	.module-medical-examination{
		margin-top: 20px;
	}
	.header-top{
		.search-box{
			width: auto;
			.form-search-header{
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				position: absolute;
				top: calc(100% + 15px);
				left: 0;
				right: 0;
				width: 100%;
				margin-top: 30px;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				&.active{
					margin-top: 0px;
					opacity: 1;
					pointer-events: all;
					visibility: unset;
				}
			}
		}
		.header-action{
			width: 265px;
		}
	}
	.item-doctor{
		.content-img{
			width: 130px;
		}
		.info-doctor{
			width: 180;
		}
		.content{
			width: 230px;
		}
	}
	.item-content-equipment{
		padding: 10px;
	}
}
@media (max-width: 991px) {
	.fs-16-cv{
		font-size: 16px;
	}
	.fs-24-cv{
		font-size: 20px !important;
	}
	.fs-26-cv{
		font-size: 22px !important;
	}
	.fs-28-cv{
		font-size: 22px !important;
	}
	.fs-30-cv{
		font-size: 22px !important;
	}
	.fs-36-cv{
		font-size: 26px !important;
	}
	.module-medical-examination{
		margin-top: 0px;
		background: white;
		.item-wrapper{
			padding: 0;
			border: none;
		}
	}
	.module-medical-examination{
		padding: 15px 0px;
	}
	.expert-team{
		.main-slide{
			padding: 0 20px;
		}
		.slider-controls{
			.prev-btn{
				left: 0px;
			}
			.next-btn{
				right: 0px;
			}
		}
	}
	.new-module{
		.big-col{
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			border-right: none;
		}
		.medium-col{
			display: none;
		}
		.small-col{
			width: 100%;
			max-width: 100%;
			.item-new-small{
				&:first-child{
					border-top: solid 1px #e1e1e1;
					padding-top: 10px;
				}
			}
		}
	}
	.item-new-small{
		.content{
			padding-right: 0px;
			padding-left: 12px;
		}
	}
	.all-sub-title{
		font-size: 22px;
	}
	.new-medium{
		.content{
			padding-left: 12px;
		}
	}
	.side-bar-title{
		font-size: 22px;
	}
	.shadow-box-right{
		box-shadow: none;
	}
	.shadow-box-left{
		box-shadow: none;
	}
	.item-doctor{
		.content-img{
			width: 130px;
		}
		.info-doctor{
			width: calc(100% - 145px);
		}
		.content{
			width: 100%;
			margin-top: 10px;
		}
	}
	.all-sub-title{
		&.small-text{
			font-size: 19px!important;
		}
	}
	.modern-equipment-home-img{
		padding-left: 0;
		.slider-pagination{
			display: none!important;
		}
	}
	.modern-equipment-home{
		.px-mobile{
			padding-left: 0!important;
			padding-right: 0!important;
		}
		.container-sp{
			max-width: 100%;
			background: #f3f3f3;
			margin-top: 200px;
		}
		.all-title-wrapper{
			padding:10px 0.75rem;
			background: rgba(255,255,255,0.8);
		}
		.all-title{
			color: #555555;
			&:after{
				background: $main!important;
			}
		}
	}
	.item-img-equipment{
		padding: 0px;
		.c-img{
			background: rgba(255,255,255,0.8);
			box-shadow: none;
		}
	}
	.modern-equipment-home-wraper{
		top: -70px;
	}
	.new-home{
		margin-top: -60px;
		background: white;
	}
	.gallery-big{
		.img{
			width: 100%;
		}
		.content{
			width: 100%;
			padding-left: 0;
			margin-top: 10px;
		}
	}
	.item-hot-galley{
		padding-bottom: 20px;
		.img{
			width: 100%;
			padding-left: 3px;
		}
		.content{
			width: 100%;
			margin-left: 0px;
			margin-bottom: 0px;
			margin-top: 10px;
			.all-sub-title{
				margin-left: 0px;
				margin-bottom: 10px;
			}
		}
		.content-wrapper{
			padding: 15px;
		}
	}
	.hot-galley-module{
		background: #f2f2f2;
		.slider-controls{
			.prev-btn,.next-btn{
				top: 30%;
				width: 40px;
				height: 40px;
			}
			.prev-btn{
				left: -12px;
			}
			.next-btn{
				right: -12px;
			}
		}
	}
}
@media (max-width: 767px) {
	.fs-16-cv{
		font-size: 14px !important;
	}
	.fs-18-cv{
		font-size: 16px !important;
	}
	.fs-20-cv{
		font-size: 18px !important;
	}
	.fs-22-cv{
		font-size: 18px !important;
	}
	.fs-26-cv{
		font-size: 20px !important;
	}
	.fs-28-cv{
		font-size: 20px !important;
	}
	.fs-30-cv{
		font-size: 20px !important;
	}
	.fs-36-cv{
		font-size: 22px !important;
	}
	.fs-21-cv{
		font-size: 18px !important;
	}
	.btn-call{
		display: none;
	}
	.footer-menu{
		border-top: dashed 1px #afafaf;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 12px;
		li{
			margin-bottom: 3px;
			position: relative;
			padding-left: 10px;
			&:before{
				display: none;
			}
			&:not(:last-child){
				border-right: solid 1px #afafaf;
				padding-right: 10px;
			}
		}
	}
	.copy-right{
		border-top: dashed 1px #afafaf;
	}
	.expert-team{
		.main-slide{
			padding: 0px;
		}
	}
	.item-expert-team{
		.img{
			padding-top: 100%;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			img{
				position: absolute;
				top: 20px;
				left: 0;
				width: 100%;
			}
		}
		.list-info{
			.item{
				&:not(:first-child){
					display: none;
				}
			}
		}
	}
	.back-to-top{
		right: 15px;
    	bottom: 70px;
	}
	.footer{
		padding-bottom: 51px;
	}
	.new-big{
		.img{
			width: 100%;
		}
		.content{
			margin-top: 10px;
			width: 100%;
			padding-left: 0px;
		}
	}
	.new-medium{
		.img{
			width: 100%;
		}
		.content{
			width: 100%;
			padding-left: 0;
			margin-top: 10px;
		}
	}
	.question-big{
		.img{
			width: 100%;
		}
		.content{
			margin-top: 10px;
			width: 100%;
			padding-left: 0px;
		}
	}
	.question-medium{
		.img{
			width: 100%;
		}
		.content{
			width: 100%;
			padding-left: 0;
			margin-top: 10px;
		}
	}
	.relate-new-big{
		.img{
			width: 100%;
		}
		.content{
			margin-top: 10px;
			width: 100%;
			padding-right: 0px;
		}
	}
	.bottom-new-detail{
		.main-wraper{
			padding: 12px;
		}
		.img{
			width: 100%;
		}
		.content{
			width: 100%;
			padding-left: 0px;
			margin-top: 10px;
		}
		.list-subitem{
			padding: 12px;
		}
	}
	.relate-new-small{
		.img{
			width: 100%;
		}
		.content{
			margin-top: 10px;
			width: 100%;
			padding-right: 0px;
		}
	}
	.list-item-search{
		li{
			width: 49%;
		}
	}
}
@media (max-width: 575px) {
	.banner-home{
		.slider-pagination{
			display: none;
		}
		.slider-controls{
			display: none;
		}
	}
	.header-top{
		background: white;
	}
	.btn-menu-mobile{
		background: $main;
		width: 60px;
		height: 48px;
		margin-top: -10px;
    	margin-right: -12px;
    	.animated-icon span {
			background: white;
			height: 3px;
		}
	}
	.btn-show-search-form{
		padding-left: 15px;
		padding-right: 15px;
		border-left: solid 1px #cccccc;
		border-right: solid 1px #cccccc;
	}
	.list-doctor{
		padding-top: 14px;
		.item-doctor{
			padding-bottom: 14px;
			margin-bottom: 14px;
		}
	}
	.item-character{
		width: 50px;
		height: 50px;
		line-height: 48px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.list-question{
		li{
			margin-bottom: 15px;
		}
	}
}